name: Exract hnrss urls' content

on:
  workflow_dispatch:
  schedule:
    - cron: '*/30 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          node-version: '3.13.7'
          
      - run: pip install -r requrements.txt

      - run: python main.py
          
      - name: commit files
        run: |
          git config --local user.email "prabesh01@pm.me"
          git config --local user.name "Prabesh01"
          git add -A
          git diff-index --quiet HEAD || git commit -a -m "hnrss extract - $(date +'%Y-%m-%d %H:%M')" --allow-empty
          
      - name: push changes
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main 
